<p-table [value]="salles" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Nom </th>
            <th>Capacité</th>
            <th>Equipements</th>
            <th>disponibilité</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-salle let-columns="columns">
        <tr>
            <td>
                {{salle.name}}
            </td>
            <td>
                {{salle.capacity}}
            </td>
            <td>
                {{salle.equipments}}
            </td>
            <td >
                <ul>
                    <li *ngFor="let date of salle.availability"> {{date|date:'medium'}}</li>
                </ul>
            </td>
        
        </tr>
    </ng-template>
</p-table>

